{% extends 'base.html' %}

{% block content %}
<div class="container">


	<div class="center-align"> 
		<h3>Sobre o Projeto</h3>
		<hr>
	</div>

	<div class="row">
		<h5 class='col s12 m12 l6 offset-l3'>Como funciona?</h5><br>
	</div>
	<div class="row">
		<p class='col s12 m12 l6 offset-l3'> Ao receber um texto, o sistema aplica métodos para extrair atributos linguísticos desse texto e os utiliza em um modelo de aprendizado de máquina, que classifica a notícia como verdadeira ou falsa. Os modelos disponibilizados foram treinados com o córpus <a href='https://github.com/roneysco/Fake.br-Corpus'><b>Fake.Br</b></a>. </p> 
		<p class='col s12 m12 l6 offset-l3'>Estão disponíveis dois modelos de detecção: "Frequência de Palavras" e "Classes Gramaticais". O modelo de frequência de palavras utiliza uma representação <i>Bag of Words</i> do texto, onde a presença ou ausência de uma palavra é marcada como 0 ou 1 em um vetor com 10395 posições (relativas às palavras mais importantes do córpus). O modelo de classes gramaticais calcula a porcentagem de palavras pertencentes à cada classe sintática, de acordo com o <i>tagger</i> <a href='http://nilc.icmc.usp.br/nlpnet/'>nlpnet</a>. 
		</p>
		<p class='col s12 m12 l6 offset-l3'> Os atributos extraídos do texto são aplicados em um classificador <i>Support Vector Machine</i>, que infere a <i>classe</i> da notícia (verdadeira ou falsa). Nos testes realizados, o sistema obteve cerca de 88% de acerto (acurácia geral). Porém, sendo esse sistema apenas uma prova de conceito, não é recomendado o uso do FakeCheck como única fonte de verificação de notícias. <b> Busque fontes confiáveis para todas as notícias que você ler/compartilhar na web!</b>
		</p>
	</div>



	<div class="row">
		<h5 class='col s12 m12 l6 offset-l3'>O projeto</h5><br>
	</div>
	<div class="row">
		<p class='col s12 m12 l6 offset-l3'> Este site é uma demonstração dos resultados obtidos no projeto <b>"Detecção Automática de Notícias Falsas para o Português"</b>, financiado pelo Programa Institucional de Bolsas de Iniciação Científica (PIBIC) do CNPq. O projeto visava estudar métodos para a detecção automática de notícias falsas utilizando Processamento de Linguagem Natural (PLN) e Aprendizado de Máquina (AM).</p>
		<p class='col s12 m12 l6 offset-l3'> 
			<a href='https://docs.google.com/document/d/1ZmShtLAPXpt1oPTT_C9-dCd9whvq7UBNRGhwRnt_EW0/edit?usp=sharing'>Relatório completo do projeto</a>
			<br>
		</p>
	</div>


	<div class="row">
		<h5 class='col s12 m12 l6 offset-l3'>Os Autores</h5>
	</div>
	<div class="row no-margin-row">
		<p class='col s12 m12 l6 offset-l3'> 
			<b>Rafael Augusto Monteiro:</b> Aluno de graduação do curso de Bacharelado em Ciências de Computação no ICMC-USP e autor principal do projeto. 
			<br> Contato em rafaelmonteiro95 (at) gmail (dot) com.
		</p>
	</div>
	<div class="row no-margin-row">
		<p class='col s12 m12 l6 offset-l3'> 
			<b>Roney Lira Sales dos Santos:</b> Aluno do programa de doutorado em Ciência da Computação do ICMC-USP e colaborador do projeto.
		</p>
	</div>
	<div class="row no-margin-row">
		<p class='col s12 m12 l6 offset-l3'> 
			<b>Thiago Alexandre Salgueiro Pardo:</b> Professor e pesquisador no ICMC-USP e orientador do projeto. 
		</p>
	</div>

	<div class="row">
		<h5 class='col s12 m12 l6 offset-l3'>Agradecimentos</h6>
	</div>
	<div class="row no-margin-row">
		<p class='col s12 m12 l6 offset-l3'> 
			Ao Murilo Gazzola, por criar o bot do WhatsApp.
		</p>
	</div>


	<div class="row">
		<h5 class='col s12 m12 l6 offset-l3'>Financiamento e Apoio</h5>
		<p class='col s12 m12 l6 offset-l3'>Este projeto foi desenvolvido no Instituto de Ciências Matemáticas e de Computação da Universidade de São Paulo (ICMC-USP), no campus São Carlos. O projeto foi financiado pelo Programa Institucional de Bolsas de Iniciação Científica (PIBIC) do CNPq e foi desenvolvido com o apoio do Núcleo Interinstitucional de Linguística Computacional (NILC)..</p>
	</div>

</div>
{% endblock %}


{% block javascript %}
<script>
	
</script>
{% endblock %}
