{% extends 'base.html' %}

{% block content %}
<div class="container">

	<div class="center-align"> 
		<h3>Sobre o Projeto</h3>
		<hr>
	</div>

	<div class="row">
		<h5 class='col s12 m10 l6 offset-l3 offset-m1'>O projeto</h5><br>
	</div>

	<div class="row">
		<p class='col s12 m10 l6 offset-l3 offset-m1'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim fringilla lorem sed vehicula. Ut eu blandit leo, ut porta velit. Quisque lobortis nibh in tortor rutrum lacinia. Suspendisse sit amet leo at nulla varius rutrum quis ac odio. Vivamus accumsan augue eget lectus sodales ullamcorper. Duis vel justo accumsan, bibendum velit a, varius dolor. Nulla dictum augue nunc, ut sollicitudin quam bibendum bibendum. Donec pulvinar mauris a erat congue interdum. Nullam ut turpis sit amet mauris molestie venenatis. Nullam ultrices, felis nec ultrices interdum, tortor velit auctor nisi, sit amet porta leo ligula vulputate augue. Suspendisse rutrum, magna sed imperdiet egestas, tellus felis sodales nunc, sit amet posuere velit risus eu turpis. Ut maximus suscipit nunc, quis dapibus felis dapibus eu. Ut in arcu placerat, lobortis ante sit amet, varius odio.
		</p>
	</div>

	<div class="row">
		<h5 class='col s12 m10 l6 offset-l3 offset-m1'>Os Autores</h5>
		<p></p>
	</div>

	<div class="row">
		<h5 class='col s12 m10 l6 offset-l3 offset-m1'>Financiamento e Apoio</h5>
		<p></p>
	</div>

</div>
{% endblock %}


{% block javascript %}
<script>
	
</script>
{% endblock %}
