<nav>
    <div class="nav-wrapper light-blue darken-4">
      <div class="container">
      <a href="{% url 'classifier:classif' %}" class="brand-logo">FakeNilc</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'classifier:classif' %}">Classificador</a></li>
        <li><a href="{% url 'classifier:about' %}">Sobre o Projeto</a></li>
      </ul>
      </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'classifier:classif' %}">Classificador</a></li>
    <li><a href="{% url 'classifier:about' %}">Sobre o Projeto</a></li>
</ul>